@import '../../shared.scss';

/* Small devices (landscape phones, 576px and up)
 Medium devices (tablets, 768px and up)
 Large devices (desktops, 992px and up)
 Extra large devices (large desktops, 1200px and up)*/

.gridwrapper {
    display: grid;
/*    border: 0.1rem solid black;*/
    border-radius: 0.5rem;
    margin: 1.5rem;
    grid-template-columns: 1fr 4fr 1fr;
}

.box {
/*    border: 0.1rem solid $gridwrapper-border-colour;*/
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
}

.fullrow {
    background-color: $theme-primary;
    color: white;
    grid-column: 1/4;
}

.sideleft {
    background-color: $theme-tertiary;
    color: black;
    grid-column: 1/2;
}

.maincontent {
    background-color: $theme-quinary;
    color: black;
    grid-column-start: 2;
    grid-column-end: 3;
}

.sideright {
    background-color: $theme-secondary;
    color: white;
    grid-column: 3/4;
}

@media only screen and (max-width: 700px) {
    .gridwrapper {
        grid-template-columns: 1fr;
    }
    .sideleft, .maincontent, .sideright {
        grid-column: 1/2;
    }
}
