@import '../shared.scss';

%button-shared {
  border: none;
  border-radius: 4px;
  padding: 0.2rem 0.6rem;
  text-decoration: none;
  margin: 0.2rem 0.2rem;
}

.button-enabled {
  @extend %button-shared;
  background-color: $button-background-color-enabled;
  color: $button-text-color-enabled;
  cursor: pointer;
}

.button-disabled {
  @extend %button-shared;
  background-color: $button-background-color-disabled;
  color: $button-text-color-disabled;
}

