@import '../shared.scss';

.input {
  display: inline-block;
  background-color: $theme-quinary;
  border:none;
  border-bottom: 1px solid $theme-primary;
  border-bottom-style: dashed;
}

.input:focus {
  background-color: $theme-tertiary;
  color: white;
  border-bottom-style: solid;
}
