@import 'shared.scss';

*,
*::after,
*::before {
  /* Universal reset: ( https://www.udemy.com/course/advanced-css-and-sass/ ) */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px;*/
  /* next line is better than setting font-size to 10px, root font size is always 16px, so 10px is 62.5% of that */
  /* ( https://www.udemy.com/course/advanced-css-and-sass/ ) */
  font-size: 62.5%;
}

body {
  padding: 1rem;
  margin: 1rem;
/*  border: 0.1rem solid black;*/
  background-color: $theme-quaternary;
  border-radius: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box; // Helps keeping placement of boxes IN the container, not allowing to overflow when eg. margins/paddings change.
}

p {
  border: 0.1rem solid black;
  padding: 0.2rem;
  margin: 0.8rem;
}
