/* Main Grid ToDo app */
$gridwrapper-border-colour: blue;

/* https://coolors.co/ match your taste ;-) */
/* 654f6f-5c5d8d-99a1a6-a8c69f-cce2a3 */
$theme-primary:#654f6f;
$theme-secondary: #696a9a;
$theme-tertiary:#99a1a6;
$theme-quaternary:#a8c69f;
$theme-quinary: #d6e5ba;

/* Buttons */
$button-background-color-enabled: $theme-secondary;
$button-text-color-enabled: white;
$button-background-color-disabled: $theme-quinary;
$button-text-color-disabled: gray;
